- @event.meta = Metum.new if @event.meta.nil?

= form_for [:admin, @event] do |f|
  .row-fluid
    .span8
      %ul.nav.nav-tabs
        %li.active= link_to 'Content', '#tab-content', data: { toggle: 'tab' }
        %li= link_to 'Meta Data', '#tab-meta', data: { toggle: 'tab' }

      .tab-content
        .tab-pane.active{id: 'tab-content'}
          %fieldset
            .control-group
              = f.label :title, class: 'control-label'
              .controls
                = f.text_field :title, class: 'span12'

            .control-group
              = f.label :location, class: 'control-label'
              .controls
                = f.text_field :location, class: 'span12'

            .control-group
              = f.label :content, class: 'control-label'
              .controls
                = f.text_area :content, class: 'span12'

        .tab-pane{id: 'tab-meta'}
          %fieldset
            = f.fields_for :meta do |ff|
              .control-group
                = ff.label :title, class: 'control-label'
                .controls
                  = ff.text_field :title, class: 'span12'

              .control-group
                = ff.label :keywords, class: 'control-label'
                .controls
                  = ff.text_field :keywords, class: 'span12'

              .control-group
                = ff.label :description, class: 'control-label'
                .controls
                  = ff.text_field :description, class: 'span12'

      .form-actions
        %button.btn.btn-success.btn-large
          %i.icon-ok.icon-white
          Save
        or
        = link_to 'Cancel', admin_events_path

    .span4
      .well
        %fieldset
          %legend Publishing Options

          .control-group
            = f.label :slug, class: 'control-label hidden'
            .controls
              .input-prepend
                %span.add-on
                  Slug
                = f.text_field :slug

          .control-group
            = f.label :published, class: 'control-label hidden'
            .controls
              %label.checkbox
                = f.check_box :published
                Publish?