- content_for :page_header do
  %h1
    = @event.title
    %small= @event.organizer.name

- content_for :breadcrumbs do
  %li
    = link_to 'Events', admin_events_path
    %span.divider /
  %li.active
    = link_to 'View', '#'

%h3 Event Information

%table.table.table-bordered.two-col
  %tr
    %td
      %strong Title
    %td= @event.title
  %tr
    %td
      %strong Description
    %td= raw @event.description
  %tr
    %td
      %strong Capacity
    %td= @event.capacity
  %tr
    %td
      %strong Sold
    %td= @event.sold
  %tr
    %td
      %strong Status
    %td= @event.status
  %tr
    %td
      %strong Categories
    %td
      %ul
        - @event.categories.each do |cat|
          %li= cat
  %tr
    %td
      %strong Tags
    %td
      %ul
        - @event.tags.each do |tag|
          %li= tag

%h3 Date & Time

%table.table.table-bordered.two-col
  %tr
    %td
      %strong Start Date
    %td= Time.parse(@event.time['start']).strftime('%b %d, %Y - %I:%M %p') unless @event.time['start'].blank?
  %tr
    %td
      %strong End Date
    %td= Time.parse(@event.time['end']).strftime('%b %d, %Y - %I:%M %p') unless @event.time['end'].blank?
  %tr
    %td
      %strong Timezone
    %td= "#{@event.time['zone']} (#{@event.time['offset']})"

%h3 Venue

%table.table.table-bordered.two-col
  %tr
    %td
      %strong Name
    %td= @event.venue.name
  %tr
    %td
      %strong Address
    %td= @event.venue.address
  %tr
    %td
      %strong City
    %td= @event.venue.city
  %tr
    %td
      %strong Province
    %td= @event.venue.region
  %tr
    %td
      %strong Country
    %td= @event.venue.country
  %tr
    %td
      %strong Postal Code
    %td= @event.venue.postal_code
  %tr
    %td
      %strong Latitude/Longitude
    %td= "#{@event.venue.latitude}, #{@event.venue.longitude}"

%h3 Organizer

%table.table.table-bordered.two-col
  %tr
    %td
      %strong Name
    %td= @event.organizer.name
  %tr
    %td
      %strong Description
    %td= @event.organizer.description
  %tr
    %td
      %strong Url
    %td= @event.organizer.url

