.row-fluid
  .span12
    .page-header
      %h1 About Software Niagara
.row-fluid
  .span8
    %p.lead
      Software Niagara is a group of designers, developers, and entrepreneurs with a belief that Niagara is a great place
      to create. And we have the will to make it better.

    %p.lead
      It is our goal — our passion — to build a stronger software community.  Because through sharing and collaboration,
      we can make great things.

    %h3 Our Plans

    %p
      We plan to accomplish our goal through the following actions:

    %ul
      %li Organize Demo Camps and other social events
      %li Publicize the accomplishments of Niagara innovators
      %li Promote other technology-related events and groups
      %li Support hacking to improve our community
      %li Encourage children and adults to learn programming and computer science

    %h3 Our Organization

    %p
      Software Niagara is a grassroots organization. We are in no way affiliated with any institution, company, or
      government agency. All work is done by volunteers and any sponsorships are used solely to cover event costs.

    %h3 Our History

    %p
      Software Niagara was founded in 2012. The idea came from Software Hamilton.
      = link_to 'Software Hamilton', 'http://www.softwarehamilton.com'
      continues to do an amazing job of building a strong software community in Hamilton, ON. We can only hope to
      achieve a fraction of their success.

    %p
      We are in our infancy. We have set-up this website as a minimal viable product, while we build out a larger online
      service that gathers information on software and technology in Niagara. We have also planned the first DemoCamp
      for Niagara, which is scheduled to take place on September 19 in Thorold, ON.

    %p.lead
      You can sign-up to our mailing list to keep up with our progress.

    %p
      = link_to 'Sign up for our mailing list', new_newsletter_path, class: 'btn btn-success btn-large'

  .span4
    .well
      %h3 Contact Information

      %dl
        %dt Nickolas Kenyeres, Founding Member
        %dd
          %ul
            %li= link_to 'nickolas@softwareniagara.com', 'mailto:nickolas@softwareniagara.com'
            %li= link_to '@knicklabs', 'http://twitter.com/knicklabs'
            %li= link_to 'http://knicklabs.github.com', 'http://knicklabs.github.com'

        %dt Michael Mottola, Founding Member
        %dd
          %ul
            %li= link_to 'michael@softwareniagara.com', 'mailto:michael@softwareniagara.com'
            %li= link_to '@michael_mottola', 'http://twitter.com/michael_mottola'
            %li= link_to 'http://michaelencode.com', 'http://michaelencode.com'



