.row-fluid
  .span12
    .page-header
      %h1 About Software Niagara
.row-fluid
  .span8
    %p.lead
      Software Niagara is a group of designers, developers, and entrepreneurs with a belief that Niagara is a great
      place to create. And we have the will to make it better.

    %p.lead
      It is our goal — our passion — to build a stronger software community. Because through sharing and collaboration,
      we can make great things.

    %h3 Our Plans

    %p
      We plan to accomplish our goal through the following actions:

    %ul
      %li Organize DemoCamp and other social events
      %li Publicize the accomplishments of Niagara innovators
      %li Promote other technology-related events and groups
      %li Support hacking to improve our community
      %li Encourage children and adults to learn programming and computer science

    %h3 Our Organization

    %p
      Software Niagara is a grassroots organization. We are in no way affiliated with any institution, company, or
      government agency. All work is done by volunteers and sponsorships are used solely to cover event costs.

    %h3 Our History

    %p
      Software Niagara was founded in 2012 and based on the Software Hamilton concept.
      = link_to 'Software Hamilton', 'http://www.softwarehamilton.com'
      has played a major role in fostering a vibrant software community in Hamilton, ON.

      Software Niagara is a young organization. We held our inaugural DemoCamp event on September 19, 2012. It was a
      great success, with nearly 50 people in attendance. Still, there is much more to do. We are planning many more
      events and bigger things for our website.

    %p.lead
      You can sign-up to our mailing list to keep up with our progress.

    %p
      = link_to 'Sign up for our mailing list', new_newsletter_path, class: 'btn btn-success btn-large'

  .span4
    .well
      %h3 Organizers

      %dl
        %dt Nickolas Kenyeres
        %dd
          %ul
            %li= link_to 'nickolas@softwareniagara.com', 'mailto:nickolas@softwareniagara.com'
            %li= link_to '@knicklabs', 'http://twitter.com/knicklabs'
            %li= link_to 'http://knicklabs.github.com', 'http://knicklabs.github.com'

        %dt Michael Mottola
        %dd
          %ul
            %li= link_to 'michael@softwareniagara.com', 'mailto:michael@softwareniagara.com'
            %li= link_to '@michael_mottola', 'http://twitter.com/michael_mottola'
            %li= link_to 'http://michaelencode.com', 'http://michaelencode.com'

        %dt JF Amprimoz
        %dd
          %ul
            %li= link_to 'jf@softwareniagara.com', 'mailto:jf@softwareniagara.com'
            %li= link_to '@SmallWebStrat', 'http://twitter.com/smallwebstrat'
            %li= link_to 'http://www.smallwebstrategies.com', 'http://www.smallwebstrategies.com'

        %dt Thomas Madej
        %dd
          %ul
            %li= link_to 'tom@softwareniagara.com', 'mailto:tom@softwareniagara.com'
            %li= link_to '@thefuri', 'http://twitter.com/thefuri'
            %li= link_to 'http://www.furi.ca', 'http://furi.ca'

        %dt Dennis Ideler
        %dd
          %ul
            %li= link_to 'dennis@softwareniagara.com', 'mailto:dennis@softwareniagara.com'
            %li= link_to '@dideler', 'http://twitter.com/dideler'
            %li= link_to 'http://www.dennisideler.com/', 'http://www.dennisideler.com/'

      %h3 Contact

      %ul
        %li= link_to 'info@softwareniagara.com', 'info@softwareniagara.com'




