.row-fluid
  .span12
    .page-header
      %h1 Demo Camp
.row-fluid
  .span8
    %p.lead
      Software Niagara is hosting Niagara's first DemoCamp on September 19, 2012. Join us for an evening of technology 
      demos and networking. 
      
    %p.lead
      Six designers and developers will be presenting technology-releated products or services that 
      they have built to a room full of designers, developers, entrepreneurs, and investors. It is a great opportunity to see
      technology built in your own backyard and to get to know the people in Niagara's tech community. 

    %p
      DemoCamp events have been successfully held all over, including in Hamilton, Guelph, Toronto, and Calgary. We are 
      excited to bring this event to Niagara. DemoCamp Niagara will be hosted at 
      = link_to 'On the Front Cafe & Eatery', 'http://www.onthefrontcafe.com'
      in Thorold, Ontario. It is conveniently located just a few minutes from Brock University and the Pen Centre shopping 
      mall.

    %p
      We encourage everyone that is interested in technology to come out. Event registration is free and you do not need 
      to demo to attend. Due to limited seated, we encourage you to register as soon as possible. 

    %p.lead
      We look forward to seeing what Niagara is making!

    %p
      = link_to 'Register Online', 'http://democampniagara.eventbrite.ca/', class: 'btn btn-success btn-large'
      = ' or '
      = link_to 'Request to Demo at DemoCamp', new_applicant_path, class: 'btn btn-large'

  .span4
    .well
      %h3 Contact Information

      %dl
        %dt Nickolas Kenyeres, Founding Member
        %dd
          %ul
            %li= link_to 'nickolas@softwareniagara.com', 'mailto:nickolas@softwareniagara.com'
            %li= link_to '@knicklabs', 'http://twitter.com/knicklabs'
            %li= link_to 'http://knicklabs.github.com', 'http://knicklabs.github.com'

        %dt Michael Mottola, Founding Member
        %dd
          %ul
            %li= link_to 'michael@softwareniagara.com', 'mailto:michael@softwareniagara.com'
            %li= link_to '@michael_mottola', 'http://twitter.com/michael_mottola'
            %li= link_to 'http://michaelencode.com', 'http://michaelencode.com'