.row-fluid
  .span12
    .page-header
      %h1 Demo Camp
.row-fluid
  .span8
    %p.lead
      Software Niagara is currently organizing Niagara's first DemoCamp. Up to 5 developers from Niagara will demonstrate
      products or services they developed and take questions from the audience.
    %p.lead
      DemoCamps are a great way for technology,
      web, and start-up junkies to get their fix and learn about the great things happening in their backyard.
  .span4
    .well
      %h3 Contact Information

      %dl
        %dt Nickolas Kenyeres, Founding Member
        %dd
          %ul
            %li= link_to 'nickolas@softwareniagara.com', 'mailto:nickolas@softwareniagara.com'
            %li= link_to '@knicklabs', 'http://twitter.com/knicklabs'
            %li= link_to 'http://knicklabs.github.com', 'http://knicklabs.github.com'

        %dt Michael Mottola, Founding Member
        %dd
          %ul
            %li= link_to 'michael@softwareniagara.com', 'mailto:michael@softwareniagara.com'
            %li= link_to '@michael_mottola', 'http://twitter.com/michael_mottola'
            %li= link_to 'http://michaelencode.com', 'http://michaelencode.com'