.row-fluid
  .span12
    .page-header
      %h1 DemoCamp Niagara 2

.row-fluid
  .span8
    %p.lead
      DemoCamp Niagara is back. Join local designers, developers, entrepreneurs, and investors for an evening of
      technology demos. You will have a unique opportunity to see tech built right here in Niagara.
    %p.lead
      DemoCamp 2 is taking place at the Red Hot Chili Pepper in Downtown St. Catharines on Wednesday November 28, 2012.
      Doors open at 6PM for refreshments, snacks, and networking. The presentations begin at 7PM.
    %p
      = link_to 'Sign up', 'http://democampniagara2.eventbrite.com'
      for this free event now and make sure you don't miss being the first to see the hottest new software being
      produced in Niagara. See you there!

    %h3 Schedule

    %table.table.table-bordered
      %tr
        %td Topic
        %td Presenter
        %td Time
      %tr
        %td Doors open - Networking and Refreshments
        %td N/A
        %td 6:00
      %tr
        %td Introductions to DemoCampNiagara
        %td Nickolas Kenyeres and Michael Mottola, Software Niagara
        %td 6:50
      %tr
        %td Keynote: The Future of the Past, or Why Historians Need to Work with Digital Media Developers
        %td Kevin Kee, Centre for Digital Humanities, Brock University
        %td 7:00
      %tr
        %td Drupal distribution to enable the simple publication and sharing of geographic data
        %td Trevor Twining, Senior Dev and Team Lead, CGI Group
        %td 7:30
      %tr
        %td Demo of the XAT tool for printer security
        %td Glen Herdy, CEO, CSO and Co-Founder, Protecht
        %td 7:45
      %tr
        %td Break
        %td N/A
        %td 8:00

      %tr
        %td Stick Streets, Endless runner game for iOS set in the streets filled with dangerous obstacles.
        %td David Milot, Founder of Pixel Collisions
        %td 8:15
      %tr
        %td Rollers of the Realm pinball and fantasy role-playing game for iPad, PC, and XBLIG
        %td Ericka Evans, Head of Production, Phantom Compass
        %td 8:30
      %tr
        %td Demo of a voting app produced at a weekend hackathon this November
        %td Software Niagara
        %td 8:45
  .span4
    .sponsored-by
      %h3 Sponsors

      %div
        %img(src="/assets/frontend/sponsor_logos/furi_logo.jpg" alt="Furi Enterprises Inc. logo")
        %br
        = link_to 'Furi Enterprises Inc', 'http://furi.ca', class: 'title'
        %br
        = link_to '@thefuri', 'http://twitter.com/thefuri'
      %hr
      %div
        %img(src="/assets/frontend/sponsor_logos/katenash_logo.png" alt="Nate Nash logo")
        %br
        = link_to 'Kate Nash of Remax 2000 Realty lbc', 'http://www.katenash.ca/', class: 'title'
        %br
        = link_to '@RenterKate', 'http://twitter.com/renterkate'

.row-fluid
  .span12
    .page-header
      %h1 DemoCamp Niagara 1

.row-fluid
  .span8
    %p.lead
      Software Niagara hosted Niagara's first DemoCamp on September 19, 2012. It was a great evening of technology
      demos and networking.

    %p.lead
      Nearly fifty designers, developers, entrepreneurs and investors from Niagara and the surrounding area came out to
      watch technology demos by Niagara-based designers and developers.

    %p
      = link_to 'On the Front Cafe & Eatery', 'http://www.onthefrontcafe.com'
      in Thorold, Ontario was the host for our event. They provided the crowd with delicious beverages and food. And
      of course, none of this would have been possible without our sponsors,
      = link_to 'Venture Niagara', 'http://www.ventureniagara.com/'
      and
      = link_to 'Lakeside Electrical.', 'http://www.lakesideelectrical.net/'

    %h3 Schedule
    %table.table.table-bordered
      %tr
        %td Topic
        %td Presenter
        %td Time
      %tr
        %td Doors open - Networking and Refreshments
        %td N/A
        %td 6:30
      %tr
        %td Introduction to DemoCamp and Software Niagara
        %td Nickolas Kenyeres and Michael Mottola, Software Niagara
        %td 7:00
      %tr
        %td On Software Hamilton
        %td Kevin Browne, Software Hamilton
        %td 7:10
      %tr 
        %td Keynote: Building a Brand and Presence in a Local Developer Community
        %td Adam White, Upper Rapids
        %td 7:20
      %tr
        %td NAC presenting Niagara Here
        %td Joe Peric, Furi Enterprises Inc and Kate Leathers, NAC
        %td 7:45
      %tr
        %td Markdown editor built on a JavaScript stack (NodeJS, Backbone.js, MongoDB)
        %td Nickolas Kenyeres
        %td 7:55
      %tr
        %td Mulberry FingerPlays iPad App
        %td Scott Teglasi, Mulberry Media
        %td 8:05
      %tr
        %td Break
        %td N/A
        %td 8:10
      %tr
        %td Interactive historic war claims database built on the Furi Web Platform & backbone.js
        %td Thomas Madej and Joseph Peric, Furi Enteprises Inc
        %td 8:25
      %tr
        %td Custom .NET framework including CMS implementation
        %td Aaron Clayton, Glacier Digital
        %td 8:35
      %tr
        %td IceTime, Rails app for finding local pickup ice hockey games.
        %td Michael Mottola
        %td 8:45
      %tr
        %td Closing Remarks
        %td 
        %td 8:55

    %p
      For coverage of the event see the great articles written by
      = link_to 'Software Hamilton', 'http://www.softwarehamilton.com/2012/09/19/inaugural-software-niagara-democamp-a-success/'
      and
      = link_to 'Embrace Niagara', 'http://www.embrace-niagara.com/2012/09/21/software-niagara-october-democamp/'

  .span4
    .sponsored-by
      %h3 Sponsors

      %div
        %img(src="/assets/frontend/venture-niagara-logo.jpg" alt="Venture Niagara")
      %div
        %img(src="/assets/frontend/lakeside-electrical-logo.png" alt="Lakeside Electrical")

