.row-fluid
  .span12
    .page-header
      %h1 Demo Camp
.row-fluid
  .span8
    %p.lead
      Software Niagara is hosting Niagara's first DemoCamp on September 19, 2012. Join us for an evening of technology
      demos and networking.
    
    %p.lead
      Niagara-based designers and developers will be presenting their technology-related products and services to a room full
      of designers, developers, entrepreneurs, and investors. It is a great opportunity to see technology built in your 
      own backyard and to get to know the people in Niagara's tech community.

    %p
      DemoCamp has been held all over, including Hamilton, Guelph, Toronto, and Calgary. We are excited to bring this 
      event to Niagara. DemoCamp Niagara will be hosted at 
      = link_to 'On the Front Cafe & Eatery', 'http://www.onthefrontcafe.com'
      in Thorold, Ontario. It is conveniently located just a few minutes from Brock University and the Pen Centre shopping
      mall.

    %p
      We encourage everyone that is interested in technology to come out. Event registration is free and you do not need 
      to demo to attend. Due to limited seating, we encourage you to register as soon as possible.

    %p
      Below is a tentative schedule for the evening. We will be adding one or two more presenters to the schedule 
      shortly.

    %h3 Tentative Schedule
    %table.table.table-bordered
      %tr
        %td Topic
        %td Presenter
        %td Time
      %tr
        %td Doors open - Networking and Refreshments
        %td N/A
        %td 6:30
      %tr
        %td Introduction to DemoCamp and Software Niagara
        %td Nickolas Kenyeres and Michael Mottola, Software Niagara
        %td 7:00
      %tr
        %td Introduction Software Hamilton
        %td Kevin Browne, Software Hamilton
        %td 7:10
      %tr 
        %td Keynote: Building a Brand and Presence in a Local Developer Community
        %td Adam White, Upper Rapids
        %td 7:20
      %tr
        %td Open source distribution of Drupal that provides tools for organizations to map data
        %td Trevort Twining, CGI Group (Interactive Practice)
        %td 7:45
      %tr
        %td Markdown editor built on a javaScript stack (NodeJS, MongoDB, Backbone.js)
        %td Nickolas Kenyeres
        %td 7:55
      %tr
        %td Mulberry FingerPlays iPad App
        %td Scott Teglasi, Mulberry Media
        %td 8:05
      %tr
        %td Break
        %td N/A
        %td 8:10
      %tr
        %td Interactive historic war claims database built on the Furi Web Platform & backbone.js
        %td Thomas Madej and Joseph Peric, Furi Enteprises Inc
        %td 8:25
      %tr
        %td Custom .NET framework including CMS implementation
        %td Aaron Clayton, Glacier Digital
        %td 8:35
      %tr
        %td IceTime, Rails app for finding local pickup ice hockey games.
        %td Michael Mottola
        %td 8:45
      %tr
        %td Closing Remarks
        %td 
        %td 8:55
    %p
      = link_to 'Register Online', 'http://democampniagara.eventbrite.ca/', class: 'btn btn-success btn-large'
      = ' or '
      = link_to 'Request to Demo at DemoCamp', new_applicant_path, class: 'btn btn-large'

  .span4
    .well
      %h3 Contact Information

      %dl
        %dt Nickolas Kenyeres, Founding Member
        %dd
          %ul
            %li= link_to 'nickolas@softwareniagara.com', 'mailto:nickolas@softwareniagara.com'
            %li= link_to '@knicklabs', 'http://twitter.com/knicklabs'
            %li= link_to 'http://knicklabs.github.com', 'http://knicklabs.github.com'

        %dt Michael Mottola, Founding Member
        %dd
          %ul
            %li= link_to 'michael@softwareniagara.com', 'mailto:michael@softwareniagara.com'
            %li= link_to '@michael_mottola', 'http://twitter.com/michael_mottola'
            %li= link_to 'http://michaelencode.com', 'http://michaelencode.com'
