.row-fluid
  .span12
    .page-header
      %h1 Demo Camp
.row-fluid
  .span8
    %p.lead
      Software Niagara is organizing Niagara's first DemoCamp. Up to 5 developers from Niagara will demonstrate products
      or services that they have developed and will take questions from the audience.

    %p.lead
      DemoCamps have been successfully held all over, including Hamilton, Guelph, Toronto, and Calgary. It's time we had
      them in Niagara. DemoCamps are a great way for technology, web, and start-up junkies to get their fix and learn about
      cool things happening right in their own backyard.

    %p
      DemoCamp is scheduled for September 19th at
      = link_to('On the Front Cafe & Eatery', 'http://www.onthefrontcafe.com/')
      in Thorold. It's conveniently located just a few minutes from Brock University and the Pen Centre shopping mall.
      We encourage everyone that is interested in technology to come out. The event is free and you do not need to demo
      to attend!

    %p
      We are still looking for a couple people to give demos at DemoCamp. We want to hear from you if you have built an
      online service, an app, or anything else technology related. All you need to do is give a 5 minute demo and be
      prepared to field questions from the audience.

    %p.lead
      We look forward to seeing what Niagara is making!

    %p
      = link_to 'Request to Demo at DemoCamp', new_applicant_path, class: 'btn btn-success btn-large'

  .span4
    .well
      %h3 Contact Information

      %dl
        %dt Nickolas Kenyeres, Founding Member
        %dd
          %ul
            %li= link_to 'nickolas@softwareniagara.com', 'mailto:nickolas@softwareniagara.com'
            %li= link_to '@knicklabs', 'http://twitter.com/knicklabs'
            %li= link_to 'http://knicklabs.github.com', 'http://knicklabs.github.com'

        %dt Michael Mottola, Founding Member
        %dd
          %ul
            %li= link_to 'michael@softwareniagara.com', 'mailto:michael@softwareniagara.com'
            %li= link_to '@michael_mottola', 'http://twitter.com/michael_mottola'
            %li= link_to 'http://michaelencode.com', 'http://michaelencode.com'