.row-fluid
  .span12
    .page-header
      %h1 Demo Camp
.row-fluid
  .span12
    .alert.alert-info
      %p.lead
        We are currently organizing a DemoCamp event for November. We need people from the community to demo
        the cool things they have been working on.
      %p
        Please get in touch with us if you are interested in presenting your software, web app, or other software-related
        technology.
      = link_to 'Request to Demo at DemoCamp', new_applicant_path, class: 'btn btn-large btn-primary'

.row-fluid
  .span8
    %p.lead
      Software Niagara hosted Niagara's first DemoCamp on September 19, 2012. It was a great evening of technology
      demos and networking.

    %p.lead
      Nearly fifty designers, developers, entrepreneurs and investors from Niagara and the surrounding area came out to
      watch technology demos by Niagara-based designers and developers.

    %p
      = link_to 'On the Front Cafe & Eatery', 'http://www.onthefrontcafe.com'
      in Thorold, Ontario was the host for our event. They provided the crowd with delicious beverages and food. And
      of course, non of this would have been possible without our sponsors, Venture Niagara and Lakeside Electrical.

    %h3 Schedule
    %table.table.table-bordered
      %tr
        %td Topic
        %td Presenter
        %td Time
      %tr
        %td Doors open - Networking and Refreshments
        %td N/A
        %td 6:30
      %tr
        %td Introduction to DemoCamp and Software Niagara
        %td Nickolas Kenyeres and Michael Mottola, Software Niagara
        %td 7:00
      %tr
        %td On Software Hamilton
        %td Kevin Browne, Software Hamilton
        %td 7:10
      %tr 
        %td Keynote: Building a Brand and Presence in a Local Developer Community
        %td Adam White, Upper Rapids
        %td 7:20
      %tr
        %td NAC presenting Niagara Here
        %td Joe Peric, Furi and Kate Leathers
        %td 7:45
      %tr
        %td Markdown editor built on a JavaScript stack (NodeJS, Backbone.js, MongoDB)
        %td Nickolas Kenyeres
        %td 7:55
      %tr
        %td Mulberry FingerPlays iPad App
        %td Scott Teglasi, Mulberry Media
        %td 8:05
      %tr
        %td Break
        %td N/A
        %td 8:10
      %tr
        %td Interactive historic war claims database built on the Furi Web Platform & backbone.js
        %td Thomas Madej and Joseph Peric, Furi Enteprises Inc
        %td 8:25
      %tr
        %td Custom .NET framework including CMS implementation
        %td Aaron Clayton, Glacier Digital
        %td 8:35
      %tr
        %td IceTime, Rails app for finding local pickup ice hockey games.
        %td Michael Mottola
        %td 8:45
      %tr
        %td Closing Remarks
        %td 
        %td 8:55

    %p
      For coverage of the event see the great articles written by
      = link_to 'Software Hamilton', 'http://www.softwarehamilton.com/2012/09/19/inaugural-software-niagara-democamp-a-success/'
      and
      = link_to 'Embrace Niagara', 'http://www.embrace-niagara.com/2012/09/21/software-niagara-october-democamp/'

  .span4
    .well
      %h3 Contact Information

      %dl
        %dt Nickolas Kenyeres, Founding Member
        %dd
          %ul
            %li= link_to 'nickolas@softwareniagara.com', 'mailto:nickolas@softwareniagara.com'
            %li= link_to '@knicklabs', 'http://twitter.com/knicklabs'
            %li= link_to 'http://knicklabs.github.com', 'http://knicklabs.github.com'

        %dt Michael Mottola, Founding Member
        %dd
          %ul
            %li= link_to 'michael@softwareniagara.com', 'mailto:michael@softwareniagara.com'
            %li= link_to '@michael_mottola', 'http://twitter.com/michael_mottola'
            %li= link_to 'http://michaelencode.com', 'http://michaelencode.com'

    .sponsored-by
      %h3 DemoCamp Sponsored By:

      %div
        %img(src="/assets/frontend/venture-niagara-logo.jpg" alt="Venture Niagara")
      %div
        %img(src="/assets/frontend/lakeside-electrical-logo.png" alt="Lakeside Electrical")

