- content_for :banner do
  #banner
    .container
      .row
        .span8
          .well
            %h2
              Join us for DemoCamp on September 19
              %sup
                th
            %p.lead
              Developers, creatives, entrepreneurs, and investors are coming together on September 19, 2012
              to share their creations with the community.
            %p.lead
              Join us at On the Front Cafe and Eatery in Thorold, Ontario for an evening of technology
              demos. Get to know others in the Niagara tech community. And discover that Niagara is a great
              place to live, play, and create!
            %p
              = link_to 'Register Now', 'http://democampniagara.eventbrite.ca', class: 'btn btn-large btn-success'
              = ' or '
              = link_to 'Learn more', democamp_path

#promotions
  .row-fluid
    .span4
      %h3
        Mailing List
      %p.lead
        Sign up for our mailing list to stay up to date on what Software Niagara
        is doing.
      %p
        = link_to 'Sign up', new_newsletter_path, class: 'btn btn-large btn-inverse'
    .span4
      %h3
        Coming Up
      %p.lead
        DemoCamp is scheduled for September 19th. Registration now open.
      %p
        = link_to 'Learn more', democamp_path, class: 'btn btn-large btn-inverse'
    .span4
      %h3
        Have something worth sharing?
      %p.lead
        Request to speak at an upcoming event. Our events are open to all.
      %p
        = link_to 'Make request', new_applicant_path, class: 'btn btn-large btn-inverse'