%footer
  .row-fluid
    .span8
      %p
        != "&copy; #{Time.now.strftime('%Y')} Software Niagara. All rights reserved."
        The Software Niagara website is actively developed by a group of volunteers. The code is open source and
        available at
        != "#{link_to 'Github', 'https://github.com/softwareniagara/software-niagara'}."
        Send us a pull request if you want to help out with the site.
    .span4
      %p.pull-right
        != "Follow us on #{link_to 'Twitter', 'http://www.twitter.com/#/softwareniagara'}"
        != "or #{link_to 'Facebook', 'http://www.facebook.com'}."
