//- title : About Software Niagara
//- description : Software Niagara is a grassroots organization working to build a software community in Niagara
//- menu : About
//- order: 5

extends ./../layout 

block content
  .row
    .twelve.columns      
      p.lead
        | Software Niagara is a group of designers, developers, and entrepreneurs with a belief that Niagara is a 
        | great place to create. And we have the will to make it better.
      
      p
        | It is our goal to build a stronger software community. Because through sharing and collaboration, 
        | we can make great software in Niagara.

      h3 Our Plans

      p
        | We will accomplish our goals by:

      ul.disc
        li Organizing DemoCamp and other events
        li Celebrating "Made in Niagara" success stories
        li Promoting Niagara technology events and groups
        li Hacking to improve our community
        li Encouraging children and adults to learn programming

      h3 Our Organization

      p 
        | Software Niagara is a grassroots organization. We are in no way affiliated with any institution, 
        | company, or government agency. All work is done by volunteer and any sponsorship money is 
        | used solely to cover event costs.

      h3 Our History

      p
        | Software Niagara was founded in 2012 based on the Software Hamilton concept. Software Hamilton has 
        | played a major role in building a vibrant software community in Hamilton, Ontario. 
      
      h2.sub-title The Organizers
      
      ul.organizers.block-grid.two-up.mobile
        - each organizer, i in settings.organizers
          li
            article.organizer.row
              .avatar(style="background-image: url(#{organizer.avatar});")
              .content
                h5= organizer.name
                dd
                  dt Twitter
                  dd
                    a(href="https://twitter.com/#{organizer.handle}", title="Follow @{organizer.handle} on Twitter")
                      @#{organizer.handle}
                  dt Email
                  dd
                    a(href="mailto:#{organizer.email}", title="Email #{organizer.name} at #{organizer.email}") 
                      = organizer.email
                  dt Website
                  dd
                    a(href=organizer.url, title="Visit #{organizer.name} at #{organizer.url}")
                      = organizer.url