= form_for [:admin, @email], html: {class: 'form-horizontal'} do |f|
  = render partial: 'admin/shared/form_errors', locals: {object: @email}
  .row-fluid
    .span8
      %fieldset
        %legend Personal Information

        .control-group
          = f.label :name, class: 'control-label'
          .controls
            = f.text_field :name, class: 'span12'

        .control-group
          = f.label :location, class: 'control-label'
          .controls
            = f.select :location, niagara_cities, class: 'span12'

        .control-group
          = f.label :website, class: 'control-label'
          .controls
            = f.text_field :website, class: 'span12'

      %fieldset
        %legend Contact Information

        .control-group
          = f.label :email, class: 'control-label'
          .controls
            = f.email_field :email, class: 'span12'

        .control-group
          = f.label :twitter_handle, class: 'control-label'
          .controls
            = f.text_field :twitter_handle, class: 'span12'

      %fieldset
        %legend Subscription

        .control-group
          = f.label :format, class: 'control-label'
          .controls
            = f.select :format, email_formats, class: 'span12'

        .control-group
          = f.label :subscribed, class: 'control-label hidden'
          .controls
            %label.checkbox
              = f.check_box :subscribed
              Subscribe?

      %fieldset
        %legend Other

        .control-group
          = f.label :interests, class: 'control-label'
          .controls
            = f.text_area :interests, class: 'span12'

  .row-fluid
    .span12
      .form-actions
        %button.btn.btn-primary
          %i.icon-ok.icon-white
          Save
        or
        = link_to 'Cancel', admin_emails_path