= form_for [:admin, @applicant], html: {class: 'form-horizontal'} do |f|
  .row-fluid
    .span8
      %fieldset
        %legend Personal Information

        .control-group
          = f.label :name, class: 'control-label'
          .controls
            = f.text_field :name, class: 'span12'

        .control-group
          = f.label :company, class: 'control-label'
          .controls
            = f.text_field :company, class: 'span12'

        .control-group
          = f.label :website, class: 'control-label'
          .controls
            = f.text_field :website, class: 'span12'

        .control-group
          = f.label :location, class: 'control-label'
          .controls
            = f.select :location, niagara_cities, class: 'span12'

      %fieldset
        %legend Contact Information

        .control-group
          = f.label :email, class: 'control-label'
          .controls
            = f.email_field :email, class: 'span12'

        .control-group
          = f.label :twitter_handle, class: 'control-label'
          .controls
            = f.text_field :twitter_handle, class: 'span12'

      %fieldset
        %legend Presentation Information

        .control-group
          = f.label :type, 'Event Type', class: 'control-label'
          .controls
            = f.select :type, application_types, class: 'span12'

        .control-group
          = f.label :pitch, class: 'control-label'
          .controls
            = f.text_area :pitch, class: 'span12'

  .row-fluid
    .span12
      .form-actions
        %button.btn.btn-primary
          %i.icon-ok.icon-white
          Save
        or
        = link_to 'Cancel', admin_applicants_path