- content_for :page_header do
  %h1
    Applicants

    = link_to 'Add applicant', new_admin_applicant_path, class: 'btn btn-primary pull-right'

- content_for :breadcrumbs do
  %li.active
    = link_to 'Applicants', admin_applicants_path

- if @applicants.blank?
  %div.alert.alert-box.alert-info
    %a.close{data: {dismiss: 'alert'}, href: '#'} x
    %h4 There are no applicants
    %p
      No one has applied to speak at DemoCamp Niagara.
      = link_to 'Add someone', new_admin_applicant_path
      now.

- else
  %table.table
    %tr
      %th
        Name
      %th
        Email
      %th
        Submitted
      %th
        Actions
    - @applicants.each do |applicant|
      = render applicant

  = paginate @applicants