- content_for :page_header do
  %h1
    = @applicant.name
    - if @applicant.company.present?
      %small= @applicant.company

- content_for :breadcrumbs do
  %li
    = link_to 'Applicants', admin_applicants_path
    %span.divider /
  %li.active
    = link_to 'View', '#'

%h3 Personal Information

%table.table.table-bordered.two-col
  %tr
    %td
      %strong Name
    %td= @applicant.name
  %tr
    %td
      %strong Company
    %td= @applicant.company
  %tr
    %td
      %strong Website
    %td= link_to(@applicant.website, @applicant.website) if @applicant.website.present?
  %tr
    %td
      %strong Location
    %td= @applicant.location

%h3 Contact Information

%table.table.table-bordered.two-col
  %tr
    %td
      %strong
        Email
    %td= link_to(@applicant.email, "mailto:#{@applicant.email}") if @applicant.email.present?
  %tr
    %td
      %strong
        Twitter
    %td= link_to(@applicant.twitter_handle, "http://www.twitter.com/#{@applicant.twitter_handle}") if @applicant.twitter_handle.present?

%h3 Presentation Information

%table.table.table-bordered.two-col
  %tr
    %td
      %strong
        Event Type
    %td= @applicant.type
  %tr
    %td
      %strong
        Pitch
    %td= simple_format(@applicant.pitch) if @applicant.pitch.present?

%p
  = link_to 'Edit', edit_admin_applicant_path(@applicant), class: 'btn btn-primary'
  = link_to 'Delete', admin_applicant_path(@applicant), class: 'btn', confirm: "Are you sure you want to remove #{@applicant.name}?"
  or
  = link_to 'Go back', admin_applicants_path
